<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/biken/IdeaProjects/Internship-in-SimbirSoft/UI-autotests">
        <classes>
            <class name="Ui.FunctionalTests">
            </class>
            <class name="Ui.HomePageUITests">
            </class>
            <class name="Ui.LoginPageUITests">
            </class>
        </classes>
    </test>
</suite>